table, td, th
{
    border-color: #CCCCCC;
    border-style: solid;
}

table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td, th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

th
{
	background: #EEEEEE;
}



td.number { text-align: right }

